@import '../../styles/partials/partials';

.info-section {
    background-color: #F2F2F2;
    padding: toRem(72) 0;

    @include md {
        padding: toRem(48) toRem(0);
    }
}

.info-container {
    box-sizing: border-box;
    margin: auto;
    max-width: 90%;
    width: $container-width;
}

.icons {
    display: grid;
    gap: toRem(16);
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    padding: toRem(32) 0;

    @include md {
        flex-wrap: wrap;
    }
}

.icons-container {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
}

.icon-container {
    margin: 0 0 toRem(28) 0;

    @include md {
        margin: 0;
    }

    img {
        border-radius: 15px;
        display: block;
        margin: auto;
        object-fit: cover;
    }
}