@import '../../styles/partials/partials';

.info-section {
    background-color: #F2F2F2;
    padding: toRem(72) 0;

    @include md {
        padding: toRem(48) toRem(0);
    }
}

.info-container {
    box-sizing: border-box;
    margin: auto;
    max-width: 90%;
    width: $container-width;
}

.icons {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;

    @include md {
        flex-wrap: wrap;
        margin: toRem(32) 0;
    }
}

.icons-container {
    box-sizing: border-box;
    margin: toRem(112) 0 toRem(64);

    @include md {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: calc(50% - toRem(16));
    }
}

.icon-container {
    margin: 0 0 toRem(28) 0;

    @include md {
        margin: 0;
    }

    img {
        border-radius: 15px;
        object-fit: cover;
    }
}