@import '../../../styles/partials/partials';

.hero {
    position: relative;
}

.hero-container {
    color: #fff;
    margin: auto;
    left: 50%;
    max-width: $container-width;
    padding: toRem(200);
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    z-index: 1010;

    @include lg {
        padding: toRem(200) 0 toRem(100);
    }

    @include md {
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
            url('../../../assets/images/ezone-textile-virtual.jpg') center center/cover;
        position: static;
        padding: toRem(100) toRem(48);
        transform: translate(0,0);
    }

    @include sm {
        padding: toRem(60) toRem(20) toRem(100);
    }
}

.hero-video {
    @include md {
        display: none;
    }
}