.btn-container {
    text-align: center;
}

.primary-btn {
    background-color: #fff;
    border-radius: 100px;
    display: inline-block;
    margin: toRem(48) auto;
    padding: toRem(12) toRem(60);
}

.secondary-btn {
    background-color: #000;
    border-radius: 100px;
    color: #fff;
    display: inline-block;
    margin: toRem(48) auto;
    padding: toRem(12) toRem(60);
}
