@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 600;
}

.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.body-text,
.link-text {
    font-family: 'Montserrat', sans-serif;
    margin-block-start: 0;
}

.heading-1,
.heading-2,
.heading-3,
.heading-4 {
    font-weight: 600;
}

.heading-1,
.heading-2 {
    font-size: toRem(60);

    @include md {
        font-size: toRem(36);
    }
}

.heading-3 {
    font-size: toRem(32);

    @include md {
        font-size: toRem(18);
    }
}

.heading-5 {
    font-size: toRem(20);
    font-weight: 500;

    @include md {
        font-size: toRem(12);
    }
}

.body-text {
    font-size: toRem(20);
    font-weight: 400;
    line-height: toRem(36);

    @include md {
        font-size: toRem(16);
        margin: 0;
    }
}

.link-text {
    color: inherit;
    font-size: toRem(20);
    font-weight: 600;
    text-decoration: none;

    @include md {
        font-size: toRem(16);
    }
}

.text-center {
    text-align: center;
}
