@import '../../styles/partials/partials';

.hero {
    position: relative;
}

.hero-container {
    color: #fff !important;
    margin: auto;
    left: 50%;
    max-width: $container-width;
    position: absolute;
    top: 50%;
    text-shadow: 1px 1px 2px #000;
    transform: translate(-50%,-50%);
    width: 100%;
    z-index: 1020;

    @include md {
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
            url('/images/ezone-textile-virtual.webp') center center/cover;
        position: static;
        padding: toRem(100) toRem(48);
        transform: translate(0,0);
        width: auto;
    }

    @include sm {
        padding: toRem(60) toRem(20) toRem(100);
    }
}

.hero-video {
    width: 100%;

    @include md {
        display: none;
    }
}

.hero-overlay {
    background-color: rgba(0,0,0,0.25);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1010;

    @include md {
        display: none;
    }
}