@import '../../styles/partials/partials';

.body-text {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: toRem(20);
    font-weight: 400;
    line-height: toRem(36);
    margin: 0;
    padding-bottom: toRem(28);

    @include md {
        font-size: toRem(16);
    }
}
