@import 'partials/partials';

.countdown-section {
    background-color: #000;
}

.countdown-wrap {
    align-items: center;
    background-color: #fff;
    border-radius: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 100%;
    padding: toRem(32) toRem(60);
    transform: translate(0, -50%);
    width: $container-width;

    @include md {
        padding: toRem(32);
        margin: 0 toRem(16);
        width: calc(100% - toRem(32));
    }
}

.timer {
    font-family: 'Montserrat', sans-serif;
    font-size: toRem(50);

    @include md {
        font-size: toRem(24);
    }
}
