@import 'partials/partials';

.header {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.header-container {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: $site-width;
    padding: toRem(60) toRem(8);

    @include md {
        padding: toRem(12) toRem(8);
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 999;
    }
}
