@import 'partials/partials';

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
        url('../assets/images/enjoying-new-fit.jpg') center center/cover;
    padding: toRem(200);

    @include lg {
        padding: toRem(200) 0 toRem(100);
    }

    @include md {
        padding: toRem(100) toRem(48);
    }

    @include sm {
        padding: toRem(60) toRem(20) toRem(100);
    }
}

.hero-container {
    color: #fff;
    margin: auto;
    max-width: $container-width;
}
