@import 'partials/partials';

.info-section {
    padding: toRem(144);
}

.info-container {
    margin: auto;
    max-width: $container-width;
    text-align: center;
}

.secondary-btn {
    background-color: #000;
    border-radius: 100px;
    color: #fff;
    display: inline-block;
    margin: toRem(48) auto;
    padding: toRem(12) toRem(60);
}
