@import 'partials/partials';

.info-section {
    background-color: #f3f3f3;
    padding: toRem(72) 0;
}

.info-container {
    box-sizing: border-box;
    margin: auto;
    max-width: $container-width;
    text-align: center;
}
