@import 'partials/partials';

.info-section {
    background-color: #F2F2F2;
    padding: 0 0 toRem(72);

    @include md {
        padding: toRem(100) toRem(48);
    }

    @include sm {
        padding: 0 toRem(20) toRem(48);
    }
}

.info-container {
    box-sizing: border-box;
    margin: auto;
    max-width: 90%;
    width: $container-width;
}
