@import 'partials/partials';

.register-section {
    padding: toRem(72) 0;

    @include md {
        padding: toRem(48) toRem(0);
    }
}

.register-container {
    box-sizing: border-box;
    margin: auto;
    max-width: 90%;
    width: $container-width;
}

.registration-container {
    margin: toRem(64) 0 0;
    overflow: hidden;
}

.registration-form {
    margin-top: -200px;
    overflow: hidden;

    @include sm {
        height: 2700px;
        margin-top: -180px;
    }
}

@media(max-width: 360px){
    .registration-form {
        height: 3100px;
    }
}