@import 'partials/partials';

.schedule-section {
    padding: toRem(72) 0;
}

.schedule-container {
    box-sizing: border-box;
    margin: auto;
    max-width: 90%;
    text-align: center;
    width: $site-width;
}
