@import 'partials/partials';

.times-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: toRem(72) auto;
}

.time-container {
    background-color: #fff;
    border-radius: 100px;
    padding: toRem(100) toRem(40);
    transform: translate(20px, -20px);
}

.time {
    background: url('../assets/images/times-abstract-bg.jpg');
    border-radius: 100px;
    box-sizing: border-box;
    width: 50%;

    &:first-of-type {
        margin-right: toRem(36);
    }

    &:last-of-type {
        margin-left: toRem(36);
    }
}

.time-list {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
